<form>
<div class="col-6">
  <div class="mb-3">
    <div class="form-group pt-4">
      <label for="form-label">Numero 1</label>
      <input type="" class="form-control" [(ngModel)]="num1" name="num1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter numero 1">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword">Numero 2</label>
      <input type="" class="form-control" [(ngModel)]="num2" name="num2" id="exampleInputPassword"  placeholder="Enter numero 2">
    </div>
    <hr>

  <div>
   <input type="radio" id="suma" name="operacion" value="suma" [(ngModel)]="operacionSeleccionada" />
   <label for="">Suma</label>
<input type="radio" id="resta" name="operacion" value="resta" [(ngModel)]="operacionSeleccionada" />
<label for="">Resta</label>
<input type="radio" id="division" name="operacion" value="division" [(ngModel)]="operacionSeleccionada" />
<label for="">Division</label>
<input type="radio" id="multiplicar" name="operacion" value="multiplicar" [(ngModel)]="operacionSeleccionada" />
<label for="">Multiplicar</label>
  </div>
    <button (click)="operacion()" type="submit" class="btn btn-primary me-3">Calcular operacion</button>


  </div>
    <hr>

<div class="col-6">
  <h1>Tu resultado es: {{resultado}}</h1>

</div>
</div>

</form>
